$breakpoint-small: 20em;
$breakpoint-medium-small: 30em;
$breakpoint-medium: 40em;
$breakpoint-medium-large: 50em;
$breakpoint-large: 60em;

// Icons

$x-icon: "\e000";
$minus-icon: "\e001";
$download-icon:"\e002";
$plus-icon: "\e003";
$menu-icon: "\e004";
$window-icon: "\e005";
$maginfy-icon: "\e006";
$email-icon: "\e007";
$phone-icon: "\e008";
$telephone-icon: "\e009";
$pencil-icon: "\e00a";
$check-icon: "\e00b";
$left-down-icon: "\e00c";
$right-down-arrow-icon: "\e00d";
$left-up-arrow-icon: "\e00e";
$right-up-arrow-icon: "\e00f";
$down-arrow-icon: "\e010";
$left-arrow-icon: "\e011";
$right-arrow-icon: "\e012";
$up-arrow-icon:"\e013";
$small-down-arrow-icon: "\e014";
$small-up-arrow-icon: "\e015";
$small-left-arrow-icon: "\e016";
$small-right-arrow-icon: "\e017";
$down-line-arrow: "\e018";
$left-line-arrow: "\e019";
$right-line-arrow: "\e01a";
$up-line-arrow: "\e01b";

// Colors
$maroon: #703030;
$navy: #2F343B; 
$grey-blue: #7E827A;
$creme: #E3CDA4;
$pink: #C77966;
$light-grey: #ddd;